
@{
    ViewData["Title"] = "دسترسی غیرمجاز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger" role="alert">
    متاسفانه شما دسترسی کافی برای مشاهده صفحه درخواستی ندارید.
    <br />

    لطفا با مدیریت سامانه تماس حاصل فرمایید.
</div>


