@model MyProject.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label">شماره حساب</label>
                <select asp-for="BankAccountId" class ="form-control" asp-items="ViewBag.BankAccountId"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="DepositDateTime" class="control-label"></label>
                <input asp-for="DepositDateTime" class="form-control" />
                <span asp-validation-for="DepositDateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepositReceiptFile" class="control-label"></label>
                <input asp-for="DepositReceiptFile" type="file" class="form-control" />
                <span asp-validation-for="DepositReceiptFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositAmount" class="control-label"></label>
                <input asp-for="DepositAmount" class="form-control" />
                <span asp-validation-for="DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositReceipt" class="control-label"></label>
                <input asp-for="DepositReceipt" class="form-control" />
                <span asp-validation-for="DepositReceipt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-warning">بازگشت</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
