@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>در این سامانه شما میتوانید تراکنشهای واریزی به انواع حسابهای بانکی را مدیریت نمایید.</p>
</div>
